# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
*.log
media/

# Environment variables (secret keys etc)
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Static files (production  collectstatic )
staticfiles/